*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url('../certificate of job.jpg');
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
}